html, body {
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
p, ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 15px;
}
.header {
    background-color: rgb(10, 57, 125);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header1 {
    width: 300px;
    margin-left: 50px;

}
.web-logo {
    height: 80px;
    width: auto;
}
.header3 {
    min-width: 700px;
    color:white;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}
.header3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header3 ul li {
    display: inline-block;
    padding: 0px 20px;
}
.header3 ul li a{
    color: white;
    text-decoration: none;
}
.header3 ul li a :hover {
    text-decoration: underline;
}
.header3 ul li a :active {
    scale: 0.7;
}
.main-container {
    flex: 1;
}
.footer {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: rgb(10, 57, 125);
    padding: 10px 100px;
    color: white;
    column-gap: 20px;
}
.footer-left {
    min-width: 400px;
    width: 400px;
}
.footer-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.footer-right {
    min-width: 400px;
    text-align: right;
}
.footer-right h4 {
    margin-bottom: 0px;
}
.footer-right ul{
    list-style: none;
    vertical-align: bottom;
    line-height: 30px;
}
.footer-right ul li a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
.main-container {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-homepage {
    color: white;
    background-image: url(images/background-pic.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100%;
    flex-direction: column;    
}
.homepage-alert{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.homepage-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
.search-section {
    display: grid;
    text-align: center;
}
.search-section a{
    color:white;
}
.search-box {
    width: 400px;
    height: 40px;
    margin: 0;
    padding: 0px 20px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
}
.search-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    margin-left: -2px;
}
.search-logo {
    width: 30px;
}
.content {
    width: 1200px;
    margin: 0 auto;

}
.result-page {
    margin: 20px 50px;
    display: flex;
    column-gap: 50px;
}
.stats-container {
    width: 400px;
    min-width: 300px;
    font-size: 15px;
}
.result-container {
    width: 100%;
}

.summary-stats-alert{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.gene-table td,th{
    min-width: 200px;
}
.plot-table {
    width: 100%;
}
.plot-table td {
    vertical-align: top;
    min-width: 300px;
}

.plot-table th{
    background-color: rgb(26, 106, 255);
    padding: 10px 10px;
    color: white;
}

.plot-table a{
    color: white;
    text-decoration: none;
}

.population_title {
    width: 100%; 
    color:white;
    padding:10px 10px;
    background-color: rgb(26, 106, 255);
}