{% extends "base.html" %}

{% block title %}Homepage {% endblock %}

{% block content %} 
<div class="main-homepage homepage-content">
    <div><h1>Welcome to SNPs database for T2D</h1></div>
    <div class="search-section">
            <form action="/search-result" method="GET" style="display: flex; flex-direction: column; justify-content: top; row-gap: 20px;">
                <div style="display: flex;flex-direction: row; align-items: top;">
                    <input class="search-box" name="query" type="text" placeholder="Search for SNPs, coordinate locations or genes">
                    <button type="submit" class="search-button">
                        <img class="search-logo" src="{{ url_for('static', filename='images/search.svg')}}" alt="search logo">
                    </button>
                </div>
                <div>
                    <input type="radio" name="search_option" value="SNP_search" > SNP
                    <input style="margin-left: 20px;" type="radio" name="search_option" value="location_search"> location
                    <input style="margin-left: 20px;" type="radio" name="search_option" value="mapped_gene_search"> Gene name
                </div>
                <div>
                    <small>Eg: rs10886471-C, 10:119389891, GRK5</small>
                </div>
            </form> 
    </div>
</div>
{% endblock %}