{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %} 
<div class="main-homepage homepage-content">
    <h1>Welcome to the SNP Database for T2D</h1>
    
    <div class="search-section">
        <form action="{{ url_for('search_result') }}" method="GET" style="display: flex; flex-direction: column; row-gap: 20px;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <input class="search-box" name="query" type="text" placeholder="Search SNPs, locations, or genes">
                <button type="submit" class="search-button">
                    <img class="search-logo" src="{{ url_for('static', filename='images/search.svg')}}" alt="search logo">
                </button>
            </div>
            <div>
                <input type="radio" name="search_option" value="SNP_search" id="snp">
                <label for="snp">SNP</label>

                <input style="margin-left: 20px;" type="radio" name="search_option" value="location_search" id="location">
                <label for="location">Location</label>

                <input style="margin-left: 20px;" type="radio" name="search_option" value="mapped_gene_search" id="gene">
                <label for="gene">Gene Name</label>
            </div>
            <div>
                <small>Example: rs10886471-C, 10:119389891, GRK5</small>
            </div>
        </form> 
    </div>
</div>
{% endblock %}
