{% extends "base.html" %}

{% block title %}Homepage {% endblock %}

{% block content %} 
<div class="main-homepage">
    <div class="homepage-alert">
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="homepage-content">
        <div><h1>Welcome to T2D SNP Portal</h1></div>
        <p>T2D SNP Portal is a web application that can retrieve information on single nucleotide polymorphisms associated with Type 2 Diabetes</p>
        <br>
        <div class="search-section">
                <form action="/search-result" method="GET" style="display: flex; flex-direction: column; justify-content: top; row-gap: 20px;">
                    <div>
                        <input type="radio" name="search_option" value="SNP_search" checked > <big>SNP</big>
                        <input style="margin-left: 50px;" type="radio" name="search_option" value="location_search"> <big>Genomic coordinate</big>
                        <input style="margin-left: 50px;" type="radio" name="search_option" value="mapped_gene_search"> <big>Gene name</big>
                    </div>
                    <div style="display: flex;flex-direction: row; align-items: top;justify-content: center;">
                        <input class="search-box" name="query" type="text" required placeholder="Search for SNPs, coordinate locations or genes">
                        <button type="submit" class="search-button">
                            <img class="search-logo" src="{{ url_for('static', filename='images/search.svg')}}" alt="search logo">
                        </button>
                    </div>

                    <table>
                        <tr>
                            <td style="text-align: right; padding-right: 20px;"> <p>For example:</p> </td>
                            <td>
                                <p style="text-align: left;">SNP name: <a href="/search-result?query=rs11677370&search_option=SNP_search">rs11677370</a>,</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p style="text-align: left;">Genomic coordinate: <a href="/search-result?query=1%3A10000000-20000000&search_option=location_search">1:10000000-20000000</a>,</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: left;"><p>Mapped gene name: <a href="/search-result?query=ENSG00000187486&search_option=mapped_gene_search">ENSG00000187486</a>.</p></td>
                        </tr>
                    </table>
                </form> 
        </div>  
    </div>

</div>
{% endblock %}