{% extends "base.html" %}

{% block title %}Summary Statistics{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/summary_statistics.css') }}">

<div class="summary-stats-alert">
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class = "summary-statistics-form">
    <div class="main-container d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center mb-4">Summary Statistics</h1>
        
        <div class="summary-statistics-form bg-light p-4 rounded shadow">
            <form action="/summary-stats-result" method="get">
                <fieldset>
                    <p><b>{{ form.population.label }}</b></p>
                    <div style="display: flex; flex-direction: row; column-gap: 50px; justify-content: space-between;">
                        {% for subfield in form.population %}
                        <div>
                            <input type="checkbox" name="{{ subfield.name }}" value="{{ subfield.data }}" id="{{ subfield.id }}" 
                            {% if subfield.data == 'all' %} 
                                onclick="toggleSelectAll('population')" 
                            {% else %} 
                                onclick="uncheckSelectAll('population')" 
                            {% endif %} >
                        <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <p><b>{{ form.stats_parameter.label }}</b></p>
                    <div style="display: flex; flex-direction: row; column-gap: 50px">
                        {% for subfield in form.stats_parameter %}
                        <div>
                            <input type="checkbox" name="{{ subfield.name }}" value="{{ subfield.data }}" id="{{ subfield.id }}" 
                            {% if subfield.data == 'all' %} 
                                onclick="toggleSelectAll('stats_parameter')" 
                            {% else %} 
                                onclick="uncheckSelectAll('stats_parameter')" 
                            {% endif %} >
                        <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    {{form.calculate_option.label(style="display: none")}}
                    {{form.calculate_option(style="display: none")}}
                </fieldset>
                <fieldset>
                    <div style="display: flex;flex-direction: row;column-gap: 50px; justify-content: space-between;">
                        <div>
                            {{ form.chromosome_no.label(class="fs3 fw-bold") }}
                            {{ form.chromosome_no(class="form-control form-control-lg") }}
                        </div>
                        <div>
                            {{ form.start_position.label(class="fs3 fw-bold") }}
                            {{ form.start_position (class="form-control form-control-lg") }}
                        </div>
                        <div>
                            {{ form.end_position.label(class="fs3 fw-bold") }}
                            {{ form.end_position (class="form-control form-control-lg") }}
                        </div>
                    </div>
                    <div>
                        {{ form.window_size.label(class="fs3 fw-bold") }}
                        {{ form.window_size(class="form-control form-control-lg",default=false) }}
                    </div>
                    
                </fieldset>
                <br>
                <div style="text-align: center;">
                    <button class="btn btn-primary" type="submit" >Analyse</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    // define function for users choose 'all' option it will uncheck above option
    function toggleSelectAll(fieldName) {
        let checkboxes = document.querySelectorAll(`input[name="${fieldName}"]`);
        let selectAll = document.querySelector(`input[name="${fieldName}"][value="all"]`);

        if (selectAll.checked) {
            checkboxes.forEach(cb => {
                if (cb !== selectAll) cb.checked = false;
            });
        }
    }

    // define function for users uncheck 'all' option it will allow users start over
    function uncheckSelectAll(fieldName) {
        let selectAll = document.querySelector(`input[name="${fieldName}"][value="all"]`);
        if (selectAll.checked) {
            selectAll.checked = false;
        }
    }

</script>
{% endblock %}