{% extends "base.html" %}

{% block title %}Summary Statistics{% endblock %}

{% block content %}

<div class="summary-stats-alert">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class = "summary-statistics-form">
    <div class="main-container d-flex flex-column align-items-center justify-content-center" style="margin-top: 0px;">
        <h1 class="text-center mb-4">Summary Statistics</h1>
        
        <div class="summary-statistics-form bg-light p-4 rounded shadow">
            <form action="/summary-stats-result" method="get">
                <fieldset>
                    <p><b>{{ form.population.label }}</b></p>
                    <div style="display: flex; flex-direction: row; column-gap: 50px; justify-content: space-between;">
                        {% for subfield in form.population %}
                        <div>
                            <input type="checkbox" name="{{ subfield.name }}" value="{{ subfield.data }}" id="{{ subfield.id }}" 
                            {% if subfield.data == 'all' %} 
                                onclick="toggleSelectAll('population')" 
                            {% else %} 
                                onclick="uncheckSelectAll('population')" 
                            {% endif %} >
                        <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="invalid-feedback" id="population-error" style="display: none;">
                        Please select at least one option.
                    </div>
                </fieldset>

                <fieldset>
                    <p><b>{{ form.stats_parameter.label }}</b></p>
                    <div style="display: flex; flex-direction: row; column-gap: 50px">
                        {% for subfield in form.stats_parameter %}
                        <div>
                            <input type="checkbox" name="{{ subfield.name }}" value="{{ subfield.data }}" id="{{ subfield.id }}" 
                            {% if subfield.data == 'all' %} 
                                onclick="toggleSelectAll('stats_parameter')" 
                            {% else %} 
                                onclick="uncheckSelectAll('stats_parameter')" 
                            {% endif %} >
                        <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="invalid-feedback" id="stats-error" style="display: none;">
                        Please select at least one option.
                    </div>
                </fieldset>
                <div style="display: none;">
                    {{form.calculate_option.label}}
                    {{form.calculate_option}}
                </div>
                <fieldset>
                    <div style="display: flex;flex-direction: row;column-gap: 50px; justify-content: space-between;">
                        <div>
                            {{ form.chromosome_no.label(class="fs3 fw-bold") }}
                            {{ form.chromosome_no(class="form-control form-control-lg") }}
                        </div>
                        <div>
                            {{ form.start_position.label(class="fs3 fw-bold") }}
                            {{ form.start_position (class="form-control form-control-lg") }}
                        </div>
                        <div>
                            {{ form.end_position.label(class="fs3 fw-bold") }}
                            {{ form.end_position (class="form-control form-control-lg") }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div>
                        {{ form.window_size.label(class="fs3 fw-bold") }}
                        {{ form.window_size(class="form-control form-control-lg",default=false) }}
                    </div>
                </fieldset>
                <div style="text-align: center;">
                    <button class="btn btn-primary" type="submit" >Analyse</button>
                </div>
                <dialog id = "processing">
                    <p>Processing...</p>
                    <p>It will take a while up to few minutes. Please to be patient</p>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
                    </div>
                </dialog>
            </form>
        </div>
    </div>
</div>

<script>
    // define function for users choose 'all' option it will uncheck above option
    function toggleSelectAll(fieldName) {
        let checkboxes = document.querySelectorAll(`input[name="${fieldName}"]`);
        let selectAll = document.querySelector(`input[name="${fieldName}"][value="all"]`);

        if (selectAll.checked) {
            checkboxes.forEach(cb => {
                if (cb !== selectAll) cb.checked = false;
            });
        }
    }

    // define function for users uncheck 'all' option it will allow users start over
    function uncheckSelectAll(fieldName) {
        let selectAll = document.querySelector(`input[name="${fieldName}"][value="all"]`);
        if (selectAll.checked) {
            selectAll.checked = false;
        }
    }

    // validate form before submitting at least one option in population and stats_parameter fields should be selected
    const processingDialog = document.getElementById("processing");
    document.querySelector('form').addEventListener('submit', function(event) {
            let population_checkboxes = document.querySelectorAll('input[name^="population"]:checked');
            let stats_checkboxes = document.querySelectorAll('input[name^="stats_parameter"]:checked');
            if (population_checkboxes.length === 0) {
                event.preventDefault();
                document.getElementById('population-error').style.display = 'block';
            } else {
                document.getElementById('population-error').style.display = 'none';
            }
            if (stats_checkboxes.length === 0) {
                event.preventDefault();
                document.getElementById('stats-error').style.display = 'block';
            } else {
                document.getElementById('stats-error').style.display = 'none';
            }

            if (stats_checkboxes.length >0 && population_checkboxes.length >0){ 
                processingDialog.showModal(); // Show processing popup
                event.target.form.submit(); // Submit the form if valid
            }
    });

    // Close processing dialog when go back this page
    window.addEventListener("pageshow", function(event) {
            if (event.persisted) {
                processingDialog.close();
            }
        });
    

</script>
{% endblock %}