<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="test.css">
    </head>
    <body>
        <div class="header">
            <div class="header1">
                <a href="home.html">
                    <img class="web-logo" src="images/Picture1.png">
                </a>
            </div>
            <!-- <div class="header2"></div> -->
            <div class="header3">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="stats">Summary statistic</a></li>
                    <li><a href="documentations">Documentation</a></li>
                    <li><a href="about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="main-container main-homepage homepage-content">
            <div><h1>Welcome to SNPs database for T2D</h1></div>
            <div class="search-section">
                <div>
                    <form style="display: flex;">
                        <input class="search-box" type="text" placeholder="Search for SNPs, coordinate locations or genes">
                        <button class="search-button">
                            <img class="search-logo" src="../images/search.svg" alt="search logo">
                        </button>
                    </form>
                </div>
                <div>
                    <small>Eg: rs10886471-C, 10:119389891, GRK5</small>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-left">
                <h2>SNP database for T2D</h2>
                <p>Some descriptive</p>
                <small>Developed by <span style="text-decoration: underline; color:coral">Focal Fossa</span></small>
            </div>
                
            <div class="footer-center">
                <img style="height: 120px;" src="images/qmul-logo.jpg">
            </div>
            <div class="footer-right">
                <h4>Resources</h4>
                <ul>
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                </ul>
            </div>
        </div>
    </body>
</html>